.centering {
  text-align: center;
}

.centeringWithFont {
  text-align: center;
  font-size: "-1";
}

#TopOfTable {
  bgcolor: "#EEEEEE";
  colspan: "3";
}

#BlueBoxOne {
  bgcolor: "#7EE5DA";
  width: "37%"
}

#BlueBoxTwo {
  bgcolor: "#70CCC2";
}

#BlueBoxThree {
  bgcolor: "#62B3AA";
}

#TableSettings{
  border: "0";
  width: "90%";
}
