#OriginalPage {
  text-align: center;
}
#OriginalPage a {
  color: #071419;
  text-decoration: underline;
}
#wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding-left: 25%;
  padding-right: 25%; 
  grid-column-gap: 2px;
  grid-row-gap: 10px;
}
.blackoutline {
  float: left;
  position: relative;
  text-align: left;
  padding: 17px;
  font-variant: small-caps;
  font-family: Lucida,Helvetica,sans-serif;
  background: white;
  border-style: solid;
  border-width: 1.5px;
  border-color: #071419;
  border-radius: 12px;
}
body {
  background-color: #96A8C8;
}
aside {
  width: 166px;
}
#aside {
  list-style-type: none;
  text-align: left;
}
li a {
  color: #282B30;
  font-size: 21px;
  font-weight: 800;
  text-decoration: none;
}
li a:hover {
  text-decoration: underline;
}
a {
  color: #96A8C8;
  font-size: 21px;
  font-weight: 800;
  text-decoration: none;
  font-size: 16px;
  font-variant: small-caps;
  font-family: Lucida,Helvetica,sans-serif;
}
header {
  width: 560px;
}
#topImage {
  height: 83;
  width: 185;
}
#sayingTop {
  padding: 20px;
  display: inline-block;
  font-size: 20px;
  font-style: italic;
  font-weight: 800;
  line-height: 120%;
  vertical-align: ;
}
main.blackoutline {
  text-align: center;
  width: 770px;
  grid-column-start: 1;
  grid-column-end: 3;
}
div #midContent {
  text-align: center;
  color: #282B30;
  font-size: 21px;
  font-weight: 800;
  font-variant: small-caps;
  font-family: Lucida,Helvetica,sans-serif;
}
footer {
  width: 770px;
  grid-column-start: 1;
  grid-column-end: 3;
}
#midTable {
  text-align: center;
  padding-left: 20%;
  padding-bottom: 6px;
}
#next {
  list-style-type: none;
}
ul#next li {
  float: left;
}
ul#next li a {
  background-color: #6E7B91;
  color: #FFF;
  border: 1.5px solid #333;
  font-size: 16px;
  font-weight: 600;
  padding: 1.5px 12px;
  margin: 0 4px;
  text-decoration: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 0 5px 0 grey;
  -moz-box-shadow: 0 0 5px 0 gray;
  -webkit-box-shadow: 0 0 5px 0 grey;
}
ul#next li a:hover {
  background-color: #FFF;
  color: #6E7B91;
}
div#supportBar img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
footer.blackoutline div {
  text-align: center;
}
#endText {
  display: block;
  margin: auto;
  width: 300px;
}
#endText2 {
  display: block;
  margin: auto;
  width: 410px;
}
footer.blackoutline div#ending {
  text-align: center;
  font-size: 6px;
  font-style: italic;
  font-variant: small-caps;
  font-weight: 800;
  width: 300px;
  padding-left: 30.5%
}
